*{
    padding: 0;
    margin: 0;
    /* font-family: sans-serif; */
}
    .backimg{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    .video video{
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100vh;
    }
    .navbar{
        position: absolute;
        top: 1%;
        width: 98%;
        margin-top: 0%;
        margin-left: 10px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        
    }
    .logo{
        width: 100px;
        border-radius: 10px;
    }
    .navbar ul li{
        border: 3px solid darkgreen;
        /* border: 3px solid black;
        border-color: black; */
        border-radius: 10px;
        margin: 5px 5px;
        list-style: none;
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 28px;
        text-decoration: none;
        background-color: lightblue;
        opacity: 0.75;
    }
    .navbar ul li a{
        text-decoration: none;
        color: darkred;
    }
    .navbar ul li:hover{
        opacity: 0.9;
    }
    .navbar ul li a:hover, .navbar li a::after{
        width: 100%;
        text-decoration: underline;
        color: blue;
        transition: 0.5s;
    }
    .title{
        font-family: 'Libre Baskerville', serif;
        /* border: 3.5px solid darkgreen; */
        border-radius: 10px;
        position: absolute;
        top: 65%;
        left: 6%;
        font-size: 90px;
        padding: 10px 40px;
        color: red;
        background-color: lightblue;
        opacity: 0.7;

    }
    .title:hover{
        opacity: 0.9;
    }


    @media screen and (min-width: 100px) and (max-width: 1024px) 
        and (min-device-height: 500px) and (max-device-height: 1366px)  
        and (orientation: portrait) 
        {
            .backimg{
                width: 10%;
                height: 100vh;
                background-size: cover;
                background-position: center;
            }
            .video video{
                object-fit: cover;
                position: absolute;
                width: 100%;
                height: 100vh;
            }
            .navbar{
                position: absolute;
                top: 1%;
                width: 98%;
                margin-top: 0%;
                margin-left: 10px;
                align-items: center;
                justify-content: space-between;
                display: flex;
                
            }
            .logo{
                width: 100px;
                border-radius: 10px;
            }
            .navbar ul li{
                border: 3px solid darkgreen;
                /* border: 3px solid black;
                border-color: black; */
                border-radius: 10px;
                margin: 5px 5px;
                list-style: none;
                display: inline-block;
                padding-left: 30px;
                padding-right: 30px;
                font-size: 28px;
                text-decoration: none;
                background-color: lightblue;
                opacity: 0.75;
            }
            .navbar ul li a{
                text-decoration: none;
                color: darkred;
            }
            .navbar ul li:hover{
                opacity: 0.9;
            }
            .navbar ul li a:hover, .navbar li a::after{
                width: 100%;
                text-decoration: underline;
                color: blue;
                transition: 0.5s;
            }
            .title{
                font-family: 'Libre Baskerville', serif;
                /* border: 3.5px solid darkgreen; */
                border-radius: 10px;
                position: absolute;
                top: 65%;
                left: 6%;
                font-size: 90px;
                padding: 10px 40px;
                color: red;
                background-color: lightblue;
                opacity: 0.7;
        
            }
            .title:hover{
                opacity: 0.9;
            }
        }
        